<div class="container mx-auto px-4">
    <div class="p-4 flex justify-between items-center">
        <h1 class="text-2xl font-medium">Registro de empleado</h1>
        <a routerLink="/empleados" type="button" class="btn-primary">Ver empleados</a>
    </div>
    
    <form class="max-w-2xl mx-auto" [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
        <div class="columns-2">
            <div class="mb-3">
                <label class="block mb-2 text-sm font-medium">Primer apellido</label>
                <input type="text" class="w-full p-2 border rounded" id="primer_apellido" formControlName="primer_apellido" autocomplete="off" maxlength="20" (keydown)="mayusculas($event)">
                @if (form.get('primer_apellido')?.errors && errorForm){
                    <span class="text-red-600 text-sm mb-5 block">Es requerido y su longitud máxima será de 20 letras.</span>
                }
            </div>
            <div class="mb-3">
                <label class="block mb-2 text-sm font-medium">Segundo apellido</label>
                <input type="text" class="w-full p-2 border rounded" id="segundo_apellido" formControlName="segundo_apellido" autocomplete="off" maxlength="20" (keydown)="mayusculas($event)">
                @if (form.get('segundo_apellido')?.errors && errorForm){
                    <span class="text-red-600 text-sm mb-5 block">Es requerido y su longitud máxima será de 20 letras.</span>
                }
            </div>
        </div>
        <div class="columns-2">
            <div class="mb-3">
                <label class="block mb-2 text-sm font-medium">Primer nombre</label>
                <input type="text" class="w-full p-2 border rounded" id="primer_nombre" formControlName="primer_nombre" autocomplete="off" maxlength="20" (keydown)="mayusculas($event)">
                @if (form.get('primer_apellido')?.errors && errorForm){
                    <span class="text-red-600 text-sm mb-5 block">Es requerido y su longitud máxima será de 20 letras.</span>
                }
            </div>
            <div class="mb-3">
                <label class="block mb-2 text-sm font-medium">Otros nombres</label>
                <input type="text" class="w-full p-2 border rounded" id="otro_nombre" formControlName="otro_nombre" autocomplete="off" maxlength="20" (keydown)="mayusculas($event)">
                @if (form.get('primer_apellido')?.errors && errorForm){
                    <span class="text-red-600 text-sm mb-5 block">Es requerido y su longitud máxima será de 50 letras.</span>
                }
            </div>
        </div>
        <div class="mb-3">
            <label class="block mb-2 text-sm font-medium">País de empleo</label>
            <select class="w-full p-2 border rounded" id="pais_empleo" formControlName="pais_empleo">
                <option value="">Seleccione</option>
                @for (item of paises; track $index) {
                    <option [value]="item.value">{{item.label}}</option>
                }
            </select>
            @if (form.get('pais_empleo')?.errors && errorForm) {
                <span class="text-red-600 text-sm mb-5 block">Este campo es requerido</span>
            }
        </div>
        <div class="columns-2">
            <div class="mb-3">
                <label class="block mb-2 text-sm font-medium">Tipo de identificación</label>
                <select class="w-full p-2 border rounded" id="tipo_identificacion" formControlName="tipo_identificacion">
                    <option value="">Seleccione</option>
                    @for (item of tipoIdentificacion; track $index) {
                        <option [value]="item.value">{{item.label}}</option>
                    }
                </select>
                @if (form.get('tipo_identificacion')?.errors && errorForm) {
                    <span class="text-red-600 text-sm mb-5 block">Este campo es requerido</span>
                }
            </div>
            <div class="mb-3">
                <label class="block mb-2 text-sm font-medium">Número de identificación</label>
                <input type="text" class="w-full p-2 border rounded" id="numero_identificacion" formControlName="numero_identificacion" autocomplete="off" maxlength="20" (keydown)="alfanumerico($event)">
                @if (form.get('primer_apellido')?.errors && errorForm){
                    <span class="text-red-600 text-sm mb-5 block">Es requerido y su longitud máxima será de 20 letras.</span>
                }
            </div>
        </div>
        <div class="columns-2">
            <div class="mb-3">
                <label class="block mb-2 text-sm font-medium">Fecha de ingreso</label>
                <input type="date" class="w-full p-2 border rounded" id="fecha_ingreso" formControlName="fecha_ingreso" autocomplete="off">
                @if (form.get('fecha_ingreso')?.errors && errorForm){
                    <span class="text-red-600 text-sm mb-5 block">No podrá ser superior a la fecha actual y tampoco menos de 1 mes de la fecha actual</span>
                }
            </div>
            <div class="mb-3">
                <label class="block mb-2 text-sm font-medium">Área</label>
                <select class="w-full p-2 border rounded" id="area" formControlName="area">
                    <option value="">Seleccione</option>
                    @for (item of areas; track $index) {
                        <option [value]="item.value">{{item.label}}</option>
                    }
                </select>
                @if (form.get('area')?.errors && errorForm) {
                    <span class="text-red-600 text-sm mb-5 block">Este campo es requerido</span>
                }
            </div>
        </div>
        <div class="text-center">
            <button type="submit" class="btn-primary mt-5">Registrar</button>
        </div>
    </form>
</div>
